<h1 align="center"><strong>선물 알리미</strong></h1>

<!-- Trigger the modal with a button -->
<div align="right">
  <button type="button" class="btn btn-outline btn-circle btn-sm orange" data-toggle="modal" data-target="#present">
    선물 도착 알리기</span>
  </button>
</div>

<!-- Modal -->
<div id="present" class="modal fade" role="dialog" style="margin-top: 60px">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">선물 왔져염!</h4>
      </div>
      
      <div class="modal-body">
        <p align="center">❤❤❤︎</p>
        <% @manittos.each do |manitto| %>
          <form action="sending/<%= manitto.id %>", method="post">
            <div align="center">
            <div class="col-md-4" style="margin-top: 5px; margin-bottom: 5px">
              <div style="display:inline-block">
                <strong><%= manitto.who %></strong>
              </div>
              <div style="display:inline-block">
                <button type="submit" class="btn btn-outline btn-circle btn-xs orange">알리기</button>
              </div>
            </div>
            </div>
          </form>
        <% end %>
        <div class="col-md-4">
          <br><br>
        </div>
        <p align="center">❤❤❤︎</p>
      </div>
      
      <div class="modal-footer">
        <p>사물함(순헌 지하 락커룸 경영 405)에 선물을 넣은 후 버튼을 눌러 주세요!</p>
        <p>사물함 수령이 아닌 경우 코멘트를 달아 주세요!</p>
      </div>
    </div>

  </div>
</div>

<br>
<% if @presents.count == 0 %>
  <h3 style="margin-top: 150px" align="center">아직 도착한 선물이 없네용 ㅠㅠ</h3>
<% else %>
  <div class="col-md-6" style="margin-left: 40px">
    <% @presents.each do |p| %>
      <%#= render partial: "manitto", object: manitto %>
      <div class="border-form">
        <div style="display:inline-block">
          <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
          <strong><%= p.manitto.who %></strong> 님, 선물이 도착했습니다 >o<
          <!--<div align="right">-->
            <a href="/destroy/<%= p.id %>"><button type="button" class="btn btn-outline btn-circle btn-xs orange" align="right">삭제</button></a>
          <!--</div>-->
        </div>
        <br><br>
        <form action="comment/<%= p.id %>" method="post">
          <div class="form-horizontal">
            <input type="text" class="form-control" name="content" placeholder="코멘트 입력 후 엔터">
            <!--<button type="submit" class="btn btn-default">입력</button>-->
          </div>
        </form>
        <div style="margin-top: 10px">
          <% p.comments.each do |c| %>
            <div class="form-inline">
              <p><%= c.content %></p>
              <!--<a href="/destroy_comment/<%= c.id %>">삭제</a><br>-->
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>